<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
  <title>Document</title>

    <link rel="stylesheet" type="text/css" href="../common/css/main.less" />
    <link rel="stylesheet" type="text/css" href="http://www.dianming.com//static/teacherNamed/css/style.css" />
</head>
<body>
  <div class="main">
    <div class="container begin">
      <div class="form-item">
        <input type="text" class="form-control" placeholder="点名" />
      </div>
      <div class="form-item">
        <div class="weui_cell weui_cell_select form-control">
          <div class="weui_cell_bd weui_cell_primary">
            <select class="weui_select" name="select1">
              <option selected value="0">美术本1204</option>
              <option value="1">美术本1201</option>
              <option value="2">美术本1202</option>
              <option value="3">美术本1203</option>
            </select>
          </div>
        </div>
      </div>
      <div class="named-btn">点名</div>
      <div class="form-item">
        <a href="javascript:;" class="named-recording">查看我的点名记录>></a>
      </div>
    </div>
  </div>


</body>
</html>