<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
  <title>Document</title>

    <link rel="stylesheet" type="text/css" href="../common/css/main.less" />
    <link rel="stylesheet" type="text/css" href="http://www.dianming.com//static/teacherNamed/css/style.css" />
</head>
<body>
  <div class="main">
    <div class="record">
      <div class="weui_panel_bd">
        <div class="weui_media_box weui_media_text">
            <h4 class="weui_media_title">美术本1204，《版画基础》</h4>
            <ul class="weui_media_info">
                <li class="weui_media_info_meta">班级人数：12人</li>
                <li class="weui_media_info_meta">签到：21人</li>
                <li class="weui_media_info_meta weui_media_info_meta_extra">查看详情>></li>
            </ul>
        </div>
      </div>
      <div class="weui_panel_bd">
        <div class="weui_media_box weui_media_text">
            <h4 class="weui_media_title">美术本1204，《版画基础》</h4>
            <ul class="weui_media_info">
                <li class="weui_media_info_meta">班级人数：12人</li>
                <li class="weui_media_info_meta">签到：21人</li>
                <li class="weui_media_info_meta weui_media_info_meta_extra">查看详情>></li>
            </ul>
        </div>
      </div>
      <div class="weui_panel_bd">
        <div class="weui_media_box weui_media_text">
            <h4 class="weui_media_title">美术本1204，《版画基础》</h4>
            <ul class="weui_media_info">
                <li class="weui_media_info_meta">班级人数：12人</li>
                <li class="weui_media_info_meta">签到：21人</li>
                <li class="weui_media_info_meta weui_media_info_meta_extra">查看详情>></li>
            </ul>
        </div>
      </div>
    </div>
  </div>


</body>
</html>