<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
  <title>Document</title>

    <link rel="stylesheet" type="text/css" href="../common/css/main.less" />
    <link rel="stylesheet" type="text/css" href="./css/style.less" />
</head>
<body>
  <div class="main">
    <div class="container teacher">
      <div class="form-item">
        <input type="text" class="form-control" placeholder="姓名" />
      </div>
      <div class="form-item">
        <input type="text" class="form-control" placeholder="手机号码" />
      </div>
      <div class="form-item">
        <a href="javascript:;" class="weui_btn weui_btn_primary">绑定</a>
      </div>
    </div>
  </div>


</body>
</html>