<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="http://www.dianming.com//static/Public/vendor/main.css" />
    <link rel="stylesheet" type="text/css" href="http://www.dianming.com//static/User/css/style.css" />
</head>

<body>


    <div class="form-item">
        <a href="javascript:;" class="weui_btn weui_btn_primary js-close">关闭</a>
    </div>
<script src="http://www.dianming.com//static/Public/js/mod.js"></script>
<script type="text/javascript" src="http://www.dianming.com//static/Public/js/weixin.js"></script>
<script type="text/javascript" src="http://www.dianming.com//static/User/js/bindSuccess.js"></script>
<script src="http://www.dianming.com//static/Public/js/zepto.js"></script>
<script src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
<script>
    require('User/js/bindSuccess.es6');
    </script>
</body>

</html>