<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
  <title>Document</title>

    <link rel="stylesheet" type="text/css" href="../common/css/main.less" />
    <link rel="stylesheet" type="text/css" href="http://www.dianming.com//static/stuSign/css/style.css" />
</head>
<body>
  <div class="main">
    <div class="record">
      <div class="weui_cells">
        <div class="weui_cell">
          <div class="weui_cell_bd weui_cell_primary">
            <p><span class="course">《美术鉴赏》</span><span class="date">2016-3-10 12:40</span></p>
          </div>
          <div class="weui_cell_ft">
            <span class="weui_icon_success"></span>
          </div>
        </div>
      </div>
      <div class="weui_cells">
        <div class="weui_cell">
          <div class="weui_cell_bd weui_cell_primary">
            <p><span class="course">《美术鉴赏》</span><span class="date">2016-3-10 12:40</span></p>
          </div>
          <div class="weui_cell_ft">
            <span class="weui_icon_success"></span>
          </div>
        </div>
      </div>
      <div class="weui_cells">
        <div class="weui_cell">
          <div class="weui_cell_bd weui_cell_primary">
            <p><span class="course">《美术鉴赏》</span><span class="date">2016-3-10 12:40</span></p>
          </div>
          <div class="weui_cell_ft">
            <span class="weui_icon_success"></span>
          </div>
        </div>
      </div>
      <div class="weui_cells">
        <div class="weui_cell">
          <div class="weui_cell_bd weui_cell_primary">
            <p><span class="course">《美术鉴赏》</span><span class="date">2016-3-10 12:40</span></p>
          </div>
          <div class="weui_cell_ft">
            <span class="weui_icon_success"></span>
          </div>
        </div>
      </div>
    </div>
  </div>


</body>
</html>